/*
	Theme Name: CubeLight
	Theme URI: http://www.theme-junkie.com/
	Description: A Business/Portfolio theme designed by <a href="http://www.theme-junkie.com">Theme Junkie</a>
	Author: Theme Junkie
	Version: 1.0.5
	Tags: widget-ready, advanced-theme-options
	
		Copyright: (c) 2010 Theme Junkie.
		License: GNU/GPL Version 2 or later. http://www.gnu.org/licenses/gpl.html
*/

/*---------------------------------------------------------------------------------*/
/* RESET */
/*---------------------------------------------------------------------------------*/
html { color:#222; background:#F0F0F0; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0 }
ul,ol { list-style:none; }
a img { border:0 }
q:before,q:after { content:'' }
table { border-collapse:collapse; border-spacing:0 }
.clear:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clear { display:inline-block; }
* html .clear { height:1%; }
.clear { display:block; }

/*---------------------------------------------------------------------------------*/
/* GENERAL */
/*---------------------------------------------------------------------------------*/
a { text-decoration:none; color:#26558D; }
a:hover { text-decoration:underline; }
:focus { outline:0; }
h1 { font-size:30px; line-height:1; }
h2 { font-size:24px; line-height:1.25; }
h3 { font-size:16px; }
h4 { font-size:13px; }
h5,h6 { font-size:12px; }
pre,code,kbd,samp,tt { font:13px/1.385 "Courier New",Monospace,serif; }
body,input,button,select,textarea { font:13px Arial,serif; }
body { line-height:1.5; }

/*---------------------------------------------------------------------------------*/
/* LAYOUT */
/*---------------------------------------------------------------------------------*/
.inner { width:960px; margin:0 auto; padding:0 10px; }
.innder:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.inner { display:inline-block; }
* html .inner { height:1%; }
.inner { display:block; }
#container { background:url(images/cbg.png) repeat-x 0 0; overflow:hidden; }
#main { padding:20px 0 30px 0; overflow:hidden; width:100%; border-top:1px solid #FFF; }
#content { float:left; width:630px; }
#sidebar { float:right; width:300px; }

/*---------------------------------------------------------------------------------*/
/* HEADER */
/*---------------------------------------------------------------------------------*/
#header { height:48px; background:url(images/hbg.png) repeat-x 0 0; z-index:200; }
#header a { text-decoration:none; }
/* Logo */
.logo a { float:left; height:48px; line-height:48px; }
#image-logo a { display:block; width:160px; text-indent:-5555em; overflow:hidden; }
/* Topnav */
#topnav { float:right; text-transform:uppercase; font-weight:bold; font-size:12px; }
#topnav li { float:left; position:relative; }
#topnav li a { display:block; height:48px; line-height:48px; padding:0 10px 8px 10px; color:#666; }
#topnav li.current_page_item a,
#topnav li.current_page_parent a,
#topnav li.current_page_ancestor a,
#topnav li.current-menu-item a,
#topnav li.current-menu-parent a,
#topnav li.current-menu-ancestor a
#topnav li.current-category-parent a,
#topnav li.current-category-ancestor a { color:#26558D; background:url(images/topnav_current.png) no-repeat center 48px; }
#topnav li a:hover { color:#333; }
#topnav li:hover { z-index:900; }
#topnav li.withul-hover { background:url(images/topnav_hover.png) no-repeat center 41px; }
* html #topnav li a { display:inline-block; }
#topnav ul ul { position:absolute; z-index:920; left:0; top:48px; background:#333; font-size:11px; }
#topnav ul ul ul { left:100%; top:0; }
#topnav ul ul { width:180px; }
#topnav li li { width:180px; background:none !important; }
#topnav li li a { min-height:16px; height:auto !important; height:16px; line-height:16px; padding:5px 10px; color:#CCC !important; background:none !important; }
#topnav li li a:hover { color:#FFF !important; background:#000 !important; }
#topnav li li a.withula { background:url(images/topnav_arrow.gif) no-repeat 168px 10px !important; padding:5px 20px 5px 10px; }
#topnav li li a.withula:hover { background:#000 url(images/topnav_arrow.gif) no-repeat 168px -66px !important; }
* html #topnav li li a { display:block; }
#topnav ul ul { display:none; }

/*---------------------------------------------------------------------------------*/
/* PROMO */
/*---------------------------------------------------------------------------------*/
#promo { background:#0A2E59 url(images/tbg.png) repeat-x; color:#FFF; z-index:100; }
* html #promo { margin-top:-10px; }
#promo .light-bg { padding:30px 0 20px 0; background:url(images/light.png) no-repeat; width:100%; padding-left:150px; position:relative; left:-150px; }
* html #promo .light-bg { margin-left:150px; }

/* Tagline */
.tagline { color:#EEE; font-size:16px; text-shadow:#333 0 1px 1px; padding:0 0 10px; }
.tagline h2,.tagline p { margin:0 0 5px; }
.tagline h2 { font-size:28px; color:#FFF; font-weight:normal; }
.tagline a { color:#AAA }

/*---------------------------------------------------------------------------------*/
/* TOOLBAR */
/*---------------------------------------------------------------------------------*/
#toolbar { border-bottom:1px solid #DDD; padding:15px 0; }

/* Breadcrumb */
#breadcrumb { font-size:13px; color:#666; line-height:1; }
#breadcrumb a,#breadcrumb span { padding:0 3px; vertical-align;middle; }
#breadcrumb small { font-size:11px; text-transform:uppercase; color:#000; font-weight:bold; margin:0 5px 0 0; }

/* Category Select */
#category-select { display:block; position:relative; margin:-2px 0 0; z-index:300; float:right; }
#category-select #category-toggle { font-size:10px; text-transform:uppercase; font-weight:bold; margin:0 5px 0 0; }
#category-dropdown { display:none; background:#FCFCFC; border:1px solid #CCC; width:160px; position:absolute; right:0; top:100%; z-index:3100; -moz-border-radius:5px; padding:6px 0 10px; }
#category-dropdown ul li { color:#999; padding:2px 15px 0 15px; margin:2px 0 0; }
#category-dropdown ul li a { color:#666; }
#category-dropdown ul li a:hover { color:#000; }

/* Pagenav */
.pagenav { text-transform:uppercase; font-size:11px; line-height:1; color:#666; }
.pagenav a,.pagenav span { display:inline-block; padding:7px 0; }
.pagenav a { margin:0 0 0 10px; background:#FFF url(images/white-grad.png) repeat-x 0 bottom; padding:7px 9px; border:1px solid #C7C7C7; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; color:#666; }
.pagenav a:hover { text-decoration:none; border-color:#999; }
.pagenav .current { font-weight:bold; color:#000; background:#EDEDED url(images/gray-grad.png) repeat-x 0 bottom; }

/*---------------------------------------------------------------------------------*/
/* SIDEBAR */
/*---------------------------------------------------------------------------------*/
#sidebar .widget { font-size:14px; }
.widget { margin:0 0 30px 0; }
.widget a { color:#666; }
.widget a:hover { color:#000; }
.widget p { margin:0 0 10px; }
.widget-title { padding:0 0 5px; border-bottom:1px solid #DDD; color:#000; }
.widget_search .widget-title { border:0; }
.widget ul { border-bottom:1px solid #FFF; }
.widget ul li { padding:7px 0 7px 16px; border-bottom:1px solid #DDD; border-top:1px solid #FFF; font-size:14px; background:url(images/bullet_li.gif) no-repeat 0 14px; }
.widget ul ul { border-bottom:0; border-top:1px solid #DDD; margin-top:7px; }
.widget ul ul li:last-child { border-bottom:0; padding-bottom:0; }
.widget_calendar table { width:100%; background:#F7F7F7; }
.widget_calendar caption { font-weight:bold; padding:5px; }
.widget_calendar th,.widget_calendar td { border:1px solid #CCC; padding:3px; text-align:center; }
.textwidget,.widget_tag_cloud div { border-top:1px solid #FFF; padding:10px 0 0; }
.widget_themejunkie_flickr h3 { border-bottom:0; }
.widget_themejunkie_flickr h3 span { color:#0061D8; text-transform:lowercase; }
.widget_themejunkie_flickr h3 span span { color:#FF1183; }
.widget_themejunkie_flickr .wrap { overflow:hidden; width:100%; }
.flickr_badge_image { float:left; border:1px solid #CCC; background:#FFF; padding:3px; margin:7px; }

/* Search Form */
#searchform { background:url(images/search.png) no-repeat; height:31px; }
#searchform label { display:none; }
#searchform input { float:left; display:block; border:0; background:none; }
#searchform input#s { float:left; width:210px; padding:0 8px; margin:7px 0 0; }
#searchform input#searchsubmit { float:righd; width:74px; height:30px; text-indent:-5555em; overflow:hidden; cursor:pointer; line-height:10; }
#searchform input#searchsubmit:hover { background:url(images/search.png) no-repeat right -31px; }

/*---------------------------------------------------------------------------------*/
/* FOOTER */
/*---------------------------------------------------------------------------------*/
#fwrap { background:#353733 url(images/fbg.png); color:#CCC; clear:both; padding:30px 0; border-top:1px solid #333; }
#fwrap a { color:#888; }
#fwrap a:hover { text-decoration:underline; color:#FFF; }
#footbar { overflow:hidden; border-bottom:1px solid #2C2C2C; width:100%; }
.fwidget-area { width:180px; float:left; margin:0 20px 0 0; padding:0 20px 0 0; background:url(images/fsep.png) no-repeat right top; }
* html .fwidget-area { background:none; }
#fwidget-area-4 { width:300px; float:right; margin:0 0 20px; padding:0; background:none; }
.fwidget { margin:0 0 30px; }
.fwidget-title { margin:0 0 5px; color:#FFF; }
.fwidget-title a { color:#FFF !important; }
.fwidget ul li { padding:2px 0 0 14px; margin:2px 0 0; background:url(images/bullet_arrow.gif) no-repeat 0 8px; }
/* contact list */
.contact-list { margin:0 0 20px; overflow:hidden; }
.contact-list dt { float:left; clear:left; width:80px; display:block; font-weight:bold; color:#CCC; }
.contact-list dd { margin:0 0 0 80px; }
.contact-list a { text-decoration:underline; }
/* social list */
.social-list { width:100%; overflow:hidden; }
.social-list li { float:left; padding:0 !important; background:none !important; }
.social-list li a { float:left; width:32px; height:32px; display:block; text-indent:-5555em; overflow:hidden; }
.foot-twitter a { background:url(images/twitter.png) no-repeat; }
.foot-facebook a { background:url(images/facebook.png) no-repeat; }
.foot-linkedin a { background:url(images/linkedin.png) no-repeat; }
.foot-flickr a { background:url(images/flickr.png) no-repeat; }
.foot-rss a { background:url(images/rss.png) no-repeat; }
#footer { border-top:1px solid #444; overflow:hidden; padding:15px 0; color:#666; font-size:12px; }
#footer a { text-decoration:underline; }

/*---------------------------------------------------------------------------------*/
/* FOLIO */
/*---------------------------------------------------------------------------------*/
.fpost { width:300px; float:left; margin:0 30px 30px 0; }
.fpost .thumb, .fpost .thumb a, .fpost .thumb img { display:inline-block; float:left; }
.fpost .thumb { margin:0 0 10px 0; border-top:0; }
.fpost .thumb a { border:1px solid #E7E7E7; background:#FFF; }
.fpost .thumb a:hover { border:1px solid #D7D7D7; }
.fpost .thumb img { width:288px; height:160px; padding:5px; }
.fpost .title { margin:10px 0; }
.fpost .title a { font-size:16px; }
.last { margin-right:0; }

/*---------------------------------------------------------------------------------*/
/* BLOG */
/*---------------------------------------------------------------------------------*/
.post,.hentry { width:100%; overflow:hidden; padding:0 0 20px 0; margin:0 0 20px; border-bottom:1px solid #DDD; position:relative; }
.single .post, .single .hentry, .page .hentry { border-bottom:0; }
.not-found { font-size:14px; }

/* entry title */
.entry-title { margin:0 60px 0 0; }
.full-entry-title { margin:0 0 0 0; }
.entry-title a { color:#000; font-size:24px; }

/* entry meta */
/* .entry-meta { font-size:12px; color:#999; margin:10px 0 12px 0; } */
.entry-meta { display:none; }
.meta-comments a { font-weight:bold; background:url(images/bubble.png) no-repeat 0 -8px; display:inline-block; width:48px; height:36px; padding:4px 0 0 0; text-align:center; margin:0 0 10px; position:absolute; top:0; right:0; font-size:14px; }
.more-link { font-weight:bold; display:block; padding:20px 0 0; text-decoration:underline; font-size:14px; }
.meta-edit { margin:0 0 0 5px; }
.meta-edit a { color:#999; padding:0 2px; }
.meta-edit a:hover { color:#000; }

/*---------------------------------------------------------------------------------*/
/* SINGLE */
/*---------------------------------------------------------------------------------*/

/* entry tag */
.entry-tags { background:url(images/tag.gif) no-repeat 0 4px; padding:0 0 0 36px; }

/* entry excerpt */
.entry-excerpt {  }

/* entry */
.entry p,.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6, .entry ul, .entry ol { margin:10px 0 16px 0; }
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 { color:#0A0A0A; }
.entry ul,.entry ol { margin:16px 0 16px 30px; }
.entry ol { list-style-type:decimal; }
.entry ul { list-style-type:circle; }
.entry ul ul, .entry ul ol, .entry ol ol, .entry ol ul { margin:0 0 0 20px; }
.entry hr { border-top:1px solid #FFF; border-top:1px solid #DDD; background:none; height:0; margin:0 0 20px 0; padding:0; clear:both; }
.entry hr.none { border:0 none; height:0; background:none; margin:0; padding:0; clear:both; }
.entry a { text-decoration:underline; }
.entry a:hover { text-decoration:none; }
.entry blockquote { margin:16px 20px; padding:0 30px 0 20px; overflow:hidden; border-left:5px solid #DDD; color:#666; }
.entry img { background:#FFF; padding:10px; border:1px solid #DDD; max-width:608px; }
.alignleft { float:left; margin:0 10px 4px 0; display:inline-block; }
.alignright { float:right; margin:0 0 10px 4px; display:inline-block; }
.aligncenter { display:block; text-align:center; display:inline-block; }
.gallery img { border:1px solid #DDD !important; }

/*---------------------------------------------------------------------------------*/
/* COMMENTS */
/*---------------------------------------------------------------------------------*/
#comments { border-top:1px solid #DDD; padding-top:10px; }
#comments-title { margin:0 0 10px 0; }
.commentlist { border-bottom:1px solid #D7D7D7; }
.comment-inner { border-top:1px solid #D7D7D7; padding:15px; min-height:80px; height:auto !important; height:60px; }
.thread-even { background:#E7E7E7; }
.comment-avatar { float:left; width:60px; }
.comment-avatar img { background:#FFF; padding:3px; display:block; border:1px solid #CCC; float:left; border-bottom:0; }
.comment-meta,.comment-body { margin:0 0 0 70px; }
.comment-meta a { color:#999; }
.comment-meta .fn { font-style:normal; font-weight:bold; }
.comment-meta .fn a { color:#000; }
.comment-reply-link { background:#FFF url(images/white-grad.png) repeat-x 0 bottom; padding:3px 10px; text-transform:uppercase; font-weight:bold; display:inline-block; border:1px solid #CCC; font-size:11px; }
.comment-reply-link:hover { border-color:#999; color:#000; text-decoration:none; }
.comment .comment .comment-inner { margin-left:80px; margin-right:15px; padding:15px 0; }
#respond { margin:20px 0; padding-bottom:20px; }
.comment #respond { margin-left:160px; }
#commentform label { float:left; width:100px; font-weight:bold; font-size:12px; }
#commentform input, #commentform textarea { margin:0 5px 10px 0; padding:2px 3px; border:1px solid #DDD; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
#commentform textarea { overflow:auto; }
#commentform #submit { margin:0 0 0 100px; }
.comment-notes,.logged-in-as { color:#999; margin:10px 0; }
.required { color:#000; font-size:14px; font-weight:bold; }
.form-submit input#submit { margin:0 0 0 80px; width:160px; background:#FFF url(images/white-grad.png) repeat-x 0 bottom; font-weight:bold; text-transform:uppercase; font-size:12px; padding:5px 0; color:#666; cursor:pointer; }
.form-submit input#submit:hover { border:1px solid #999; color:#000; }

/*---------------------------------------------------------------------------------*/
/* HOME */
/*---------------------------------------------------------------------------------*/
.section-title { padding:0 0 5px 0; }

/* Home Services */
#home-services { overflow:hidden; margin:20px auto; width:100%; color:#DDD; }
.swidget { width:300px; float:left; margin:0 30px 0 0; }
#swidget-3 { margin:0; }
.swidget h3 { color:#FFF; font-weight:normal; line-height:32px; border-bottom:1px solid; padding:0 0 5px; }
.swidget h3 img { vertical-align:middle; margin:0 10px 0 0; }
.swidget-inner { border-top:1px solid; padding:5px 0 0; }
.swidget p { margin:0 0 10px; }
.swidget .more a { font-weight:bold; color:#666; background:url(images/service-more-button.png) no-repeat 0 0; display:inline-block; width:121px; height:26px; line-height:26px; font-size:11px; text-align:center; }
.swidget .more a:hover { text-decoration:none; color:#000; background:url(images/service-more-button.png) no-repeat 0 bottom; }

/* Home About */
#home-about { margin:0 0 30px; }
#home-about .section-title { border-bottom:1px solid #DDD; }
.home-about-entry { width:100%; overflow:hidden; border-top:1px solid #FFF; padding:20px 0 0; }
.home-about-entry p { margin:0 0 10px; }
#home-about .more a { background:url(images/arrow_more.png) no-repeat 0 0; padding:0 0 0 20px; font-weight:bold; }

/* Home Quote */
#home-quote { margin:0 0 30px; }
#home-quote .more { float:right; font-size:12px; font-weight:bold; margin:4px 0 0; }
#home-quote p { padding:0 0 10px; }
#home-quote-top { background:url(images/squote.png) no-repeat; height:30px; }
#home-quote-content { padding:0 30px 0 35px; background:#F7F7F7; border-left:1px solid #FFF; border-right:1px solid #B4B4B4; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; }
#home-quote-bottom { background:url(images/squote.png) no-repeat 0 -136px; padding:48px 10px 0 90px; }
.home-quote-author { font-weight:bold; font-size:12px; }
.home-quote-opp { color:#999; font-weight:normal; }

/* Home News */
#home-news ul { border-bottom:1px solid #FFF; border-top:1px solid #DDD; }
#home-news a {  }
#home-news li { background:url(images/icon_post.png) no-repeat 0 10px; padding:10px 0 10px 26px; border-top:1px solid #FFF; border-bottom:1px solid #DDD; }
/*
#home-news .meta { color:#999; font-size:12px; }
#home-news .meta a { color:#999; text-decoration:underline; }
#home-news .meta a:hover { text-decoration:none; }
*/
#home-news .meta { display:none; }
#home-news .meta a { display:none; }
#home-news .meta a:hover { text-decoration:none; }

#home-news h4 { font-size:12px; }
#home-news .more { padding:10px 0; margin:0 0 0 26px; text-transform:uppercase; font-size:11px; font-weight:bold; }
#home-news .more a { color:#999; }
#home-news .more a:hover { color:#000; }

/*---------------------------------------------------------------------------------*/
/* PAGE */
/*---------------------------------------------------------------------------------*/
h1.page-title { margin:0 0 20px 0; }
.onecol { width:100%; overflow:hidden; }

/*---------------------------------------------------------------------------------*/
/* CONTACT */
/*---------------------------------------------------------------------------------*/
.contact-left { float:left; width:440px; }
.contact-right { float:right; width:480px; }
.contact-section-title { border-bottom:1px solid #DDD; padding:0 0 5px 0; }
.contact-section-inner { border-top:1px solid #FFF; padding:10px 0 0 0; }
.contact-info,.contact-social {  }
.contact-info { padding:20px 0 0; margin:0 0 30px; }
.contact-info dt { color:#000; }
.contact-info-after { margin:30px 0; }
.contact-social { margin:30px 0; }
.contact-form { background:#F7F7F7; border:1px solid #FFF; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:20px; }
.contact-form-before { margin:0 0 20px; color:#999; }
.contact-form-before p { margin:0 0 10px; }
#tj-contact-form { margin:20px 0; width:100%; overflow:hidden; }
#tj-contact-form label { float:left; clear:left; width:80px; font-weight:bold; font-size:12px; }
#tj-contact-form input,#tj-contact-form textarea { border:1px solid #DDD; margin:0 0 10px 0; padding:2px 3px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; width:200px; }
#tj-contact-form textarea { width:340px; height:140px; overflow:auto; }
#tj-contact-form input#contact-form-submit { margin:0 0 0 80px; width:100px; background:#FFF url(images/white-grad.png) repeat-x 0 bottom; font-weight:bold; text-transform:uppercase; font-size:12px; padding:5px 0; color:#666; cursor:pointer; }
#tj-contact-form input#contact-form-submit:hover { border:1px solid #999; color:#000; }

/* Success, notice and error boxes
-------------------------------------------------------------- */
.error,
.notice,
.success { padding:.8em; margin-bottom:1em; border:2px solid #ddd; }
.error { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4; }
.notice { background:#FFF6BF; color:#514721; border-color:#FFD324; }
.success { background:#E6EFC2; color:#264409; border-color:#C6D880; }
.error a { color:#8a1f11; }
.notice a { color:#514721; }
.success a { color:#264409; }