#promo
html{color:#4e535b;background:#FFFFFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
ul,ol{list-style:none;}
a img{border:0}
q:before,q:after{content:'' }
table{border-collapse:collapse;border-spacing:0}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{display:inline-block;}
* html .clear{height:1%;} 
.clear{display:block;}
a{text-decoration:none;color:#f29e21;}
a:hover{text-decoration:underline;}
removing this through out the site:focus{outline:0;}
h1{font-size:30px;line-height:1;}
h2{font-size:24px;line-height:1.25;}
h3{font-size:20px;}
h4{font-size:13px;}
h5,h6{font-size:12px;}
pre,code,kbd,samp,tt{font:13px/1.385 "Courier New",Monospace,serif;}
body,input,button,select,textarea{font:16px 'Open Sans', Arial, sans-serif;}
body{line-height:1.5;}
::-moz-selection{background:#f29e21;text-shadow:none;color:#FFF;}
::selection{background:#f29e21;text-shadow:none;color:#FFF;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.font22{font-size:22px;}
.font24{font-size:24px;}
.font26{font-size:26px;}
.alignCenter{text-align:center;}
.hidden{display:none;visibility:hidden;}
.resizeImg{max-width:100%;height:100%;margin:auto;}
.inner{width:100%;box-sizing:border-box;}
.innder:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.inner{display:inline-block;}
* html .inner{height:1%;}
.inner{display:block;}
#container{overflow:hidden;}
//background:url(images/cbg.png) repeat-x 0 0;#main{padding:20px 0 30px 0;overflow:hidden;width:100%;border-top:1px solid #FFF;}
#content{float:left;width:630px;}
#sidebar{float:right;width:300px;}
.inner-content{max-width:1100px;padding:10px 0;margin:0 auto;}
#header{height:48px;background:url(images/hbg.png) repeat-x 0 0;z-index:200;}
#header a{text-decoration:none;}
.logo a{float:left;height:48px;line-height:48px;}
#image-logo a{display:block;width:235px;text-indent:-5555em;overflow:hidden;}
#topnav{float:right;text-transform:uppercase;font-weight:bold;font-size:16px;}
#topnav li{float:left;position:relative;}
#topnav li a{display:block;height:48px;line-height:48px;padding:0 10px 8px 10px;color:#666;}
#topnav li.current_page_item a,
#topnav li.current_page_parent a,
#topnav li.current_page_ancestor a,
#topnav li.current-menu-item a,
#topnav li.current-menu-parent a,
#topnav li.current-menu-ancestor a
#topnav li.current-category-parent a,
#topnav li.current-category-ancestor a{color:#26558D;background:url(images/topnav_current.png) no-repeat center 48px;}
#topnav li a:hover{color:#f29e21;}
#topnav li:hover{z-index:900;}
#topnav li.withul-hover{background:url(images/topnav_hover.png) no-repeat center 41px;}
* html #topnav li a{display:inline-block;}
#topnav ul ul{position:absolute;z-index:920;left:0;top:48px;background:#333;font-size:11px;}
#topnav ul ul ul{left:100%;top:0;}
#topnav ul ul{width:180px;}
#topnav li li{width:180px;background:none !important;}
#topnav li li a{min-height:16px;height:auto !important;height:16px;line-height:16px;padding:5px 10px;color:#CCC !important;background:none !important;}
#topnav li li a:hover{color:#FFF !important;background:#000 !important;}
#topnav li li a.withula{background:url(images/topnav_arrow.gif) no-repeat 168px 10px !important;padding:5px 20px 5px 10px;}
#topnav li li a.withula:hover{background:#000 url(images/topnav_arrow.gif) no-repeat 168px -66px !important;}
* html #topnav li li a{display:block;}
#topnav ul ul{display:none;}
#promo{background:#0A2E59 url(images/tbg.png) repeat-x;color:#FFF;z-index:100;}
* html #promo{margin-top:-10px;}
#promo .light-bg{padding:30px 0 0px 0;width:100%;padding-left:150px;position:relative;left:-150px;}
//background:url(images/light.png) no-repeat;* html #promo .light-bg{margin-left:150px;}
.tagline{color:#FFF;font-size:16px;text-shadow:#333 0 1px 1px;padding:0 0 50px;}
.tagline h2,.tagline p{margin:0 0 5px;}
.tagline h2{font-size:55px;color:#FFF;font-weight:600;}
.tagline a{color:#AAA}
.home .tagline{padding:0 0 50px;}
.btnRqstDemo .button{color:#FFF;text-shadow:none;width:200px;}
#toolbar{border-bottom:1px solid #DDD;padding:15px 0;}
#breadcrumb{font-size:13px;color:#666;line-height:1;}
#breadcrumb a,#breadcrumb span{padding:0 3px;vertical-align;middle;}
#breadcrumb small{font-size:11px;text-transform:uppercase;color:#000;font-weight:bold;margin:0 5px 0 0;}
#category-select{display:none;position:relative;margin:-2px 0 0;z-index:300;float:right;}
#category-select #category-toggle{font-size:10px;text-transform:uppercase;font-weight:bold;margin:0 5px 0 0;}
#category-dropdown{display:none;background:#FCFCFC;border:1px solid #CCC;width:160px;position:absolute;right:0;top:100%;z-index:3100;-moz-border-radius:5px;padding:6px 0 10px;}
#category-dropdown ul li{color:#999;padding:2px 15px 0 15px;margin:2px 0 0;}
#category-dropdown ul li a{color:#666;}
#category-dropdown ul li a:hover{color:#000;}
.pagenav{text-transform:uppercase;font-size:11px;line-height:1;color:#666;}
.pagenav a,.pagenav span{display:inline-block;padding:7px 0;}
.pagenav a{margin:0 0 0 10px;background:#FFF;padding:13px 18px;font-size:22px;font-weight:400px;border:1px solid #000;color:#000;}
.pagenav a:hover{text-decoration:none;border-color:#999;background-color:#f7f7f7;color:#000;}
.pagenav .current{font-weight:bold;color:#FFF;background-color:#f29e21;}
#sidebar .widget{font-size:14px;}
.widget{margin:0 0 30px 0;}
.widget a{color:#666;}
.widget a:hover{color:#000;}
.widget p{margin:0 0 10px;}
.widget-title{padding:0 0 5px;border-bottom:1px solid #DDD;color:#000;}
.widget_search .widget-title{border:0;}
.widget ul{border-bottom:1px solid #FFF;}
.widget ul li{padding:7px 0 7px 16px;border-bottom:1px solid #DDD;border-top:1px solid #FFF;font-size:16px;background:url(images/bullet_li.gif) no-repeat 0 14px;}
.widget ul ul{border-bottom:0;border-top:1px solid #DDD;margin-top:7px;}
.widget ul ul li:last-child{border-bottom:0;padding-bottom:0;}
.widget_calendar table{width:100%;background:#F7F7F7;}
.widget_calendar caption{font-weight:bold;padding:5px;}
.widget_calendar th,.widget_calendar td{border:1px solid #CCC;padding:3px;text-align:center;}
.widget_tag_cloud div{border-top:1px solid #FFF;padding:10px 0 0;}
.textwidget div{border-top:0px solid #FFF;padding:10px 0 0;}
.widget_themejunkie_flickr h3{border-bottom:0;}
.widget_themejunkie_flickr h3 span{color:#0061D8;text-transform:lowercase;}
.widget_themejunkie_flickr h3 span span{color:#FF1183;}
.widget_themejunkie_flickr .wrap{overflow:hidden;width:100%;}
.flickr_badge_image{float:left;border:1px solid #CCC;background:#FFF;padding:3px;margin:7px;}
#searchform{background:url(images/search.png) no-repeat;height:31px;}
#searchform label{display:none;}
#searchform input{float:left;display:block;border:0;background:none;}
#searchform input#s{float:left;width:210px;padding:0 8px;margin:7px 0 0;}
#searchform input#searchsubmit{float:righd;width:68px;height:30px;text-indent:-5555em;overflow:hidden;cursor:pointer;line-height:10;}
#searchform input#searchsubmit:hover{background:url(images/search.png) no-repeat right -31px;}
#fwrap{background:#1f2124;color:#4e535b;clear:both;font-size:16px;}
#fwrap a{color:#4e535b;}
#fwrap a:hover , #fwrap .fwidget-area a:hover{color:#f29e21;text-decoration:none;}
#footbar{width:100%;overflow:hidden;}
.footer-nav-row{width:100%;display:inline-block;padding:30px 0;}
.footer-social-row{width:100%;display:inline-block;padding:30px 0;background-color:#191a1d;}
.fwidget-area{width:50%;float:left;}
#fwrap .fwidget-area a{color:#979aa1;}
* html .fwidget-area{background:none;}
.fwidget-area .ftr-links{font-size:14px;}
//#fwidget-area-4{width:20%;float:left;padding:0;background:none;}
#fwidget-area-5{width:100%;padding:20px;box-sizing:border-box;}
.fwidget{margin:0 0 30px;}
.fwidget-title{margin:0 0 5px;color:#FFF;}
#footer-widget-contact{padding:16px;box-sizing:border-box;display:block;text-align:center;}
.footer-nav-links{width:100%;padding:16px;box-sizing:border-box;display:inline-block;}
.footer-terms-nav{width:100%;text-align:center;}
.term-link{font-size:11px;color:#53565c;text-decoration:none;}
.footer-terms-nav span{padding:0 8px;}
.social-block{width:100%;text-align:center;}
.social-list li{float:none;}
.footer-rights-row p{width:100%;display:inline-block;padding:15px 0;}
@media screen and (min-width:740px) and (max-width:979px){#footer-widget-contact{float:left;width:45%;border-left:1px solid #2b2e32;}
.footer-nav-links{width:55%;padding:16px;box-sizing:border-box;display:inline-block;border:1px solid #2b2e32;border-bottom:none;border-top:none;}
#fwidget-area-5{width:45%;padding:0;}
.social-block{width:50%;float:left;}
.social-list li{float:right;}
.footer-rights-row p{width:50%;display:inline-block;padding:0;}
.footer-terms-nav{width:40%;float:right;text-align:right;}
}
@media screen and (min-width:980px){#footer-widget-contact{float:left;width:33%;border-left:1px solid #2b2e32;}
.footer-nav-links{width:55%;padding:30px;box-sizing:border-box;display:inline-block;border:1px solid #2b2e32;border-bottom:none;border-top:none;}
#fwidget-area-5{width:45%;padding:0;}
.social-block{width:50%;float:left;}
.fwidget-area{width:33%;}
#fwidget-area-1{width:32%;}
#fwidget-area-2{width:44%;}
#fwidget-area-3{width:24%;}
.social-list li{float:right;}
.footer-rights-row p{width:50%;display:inline-block;padding:0;}
.footer-terms-nav{width:40%;float:right;text-align:right;}
}
//#footer-widget-contact .fwidget-title{text-align:center;}
.fwidget-title a{color:#FFF !important;}
.fwidget ul li{margin:2px 0 0;}
.contact-list{margin:0 0 20px;overflow:hidden;}
.contact-list dt{float:left;clear:left;width:80px;display:block;font-weight:bold;color:#CCC;}
//.contact-list dd{color:#f29e21;font-size:32px;margin:0 0 10px 0;}
.contact-list .phone-num{font-size:36px;color:#f29e21;}
.contact-list .timings{color:#979aa1;}
#fwrap .contact-list .mail-to a{color:#FFF;}
color:#f29e21;font-size:32px;.contact-list a{text-decoration:underline;}
.social-list{width:100%;overflow:hidden;}
.social-list li{padding:33px 0;background:none !important;display:inline-block;}
.social-list li a{float:left;width:41px;height:41px;display:block;text-indent:-5555em;overflow:hidden;padding-right:15px;}
.foot-twitter a{background:url(images/twitter.png) no-repeat;}
.foot-facebook a{background:url(images/facebook.png) no-repeat;}
.foot-linkedin a{background:url(images/linkedin.png) no-repeat;}
.foot-flickr a{background:url(images/flickr.png) no-repeat;}
.foot-rss a{background:url(images/rss.png) no-repeat;}
.footer-rights-row{overflow:hidden;padding:30px 20px;color:#666;font-size:12px;background-color:#141517;}
//.footer-rights-row a{text-decoration:underline;}
.folio{padding:10px 0;}
.fpost{display:inline-block;padding:25px 0;text-align:center;border-bottom:1px solid #d2d6d5;}
.fpost .fpost-wrap{max-width:95%;margin:0 auto;}
.fpost .thumb, .fpost .thumb a, .fpost .thumb img{display:inline-block;}
.fpost .thumb{margin:0 0 15px 0;border-top:0;}
//.fpost .thumb a{border:1px solid #E7E7E7;background:#FFF;}
//.fpost .thumb a:hover{border:1px solid #D7D7D7;}
.fpost .thumb img{max-width:100%;}
.fpost .title{margin:10px 0;display:block;clear:both;}
.fpost .title a{font-size:16px;color:#1f2124;}
.fpost .excerpt{color:#979aa1;}
.fpost .text-col{width:100%;}
.fpost.last .thumb{float:right;margin:0 0 10px 0;}
.blog-posts{width:100%;padding:10px;box-sizing:border-box;display:block;background-color:#FFF;}
.blog-posts .pagenav{margin:10px 0;}
.post,.hentry{width:100%;overflow:hidden;padding:0 0 20px 0;margin:0 0 20px;border-bottom:1px solid #DDD;position:relative;}
.single .post, .single .hentry, .page .hentry{border-bottom:0;}
.not-found{font-size:14px;}
.blogs-main-wrapper{background-color:#F7F7F7;padding:0;}
.blogs-wrapper{max-width:80%;display:block;margin:0 auto;padding:10px 0;}
.blogs-wrapper .widget ul li{background:none;padding:10px 0;}
.blogs-wrapper #sidebar{float:none;width:auto;}
.blogs-wrapper #sidebar #searchform{background:none;border:1px solid #CCC;height:36px;}
.blogs-wrapper #sidebar #searchform input#s{width:74%;height:36px;line-height:36px;background-color:#FFF;margin:0;padding:0 8px;box-sizing:border-box;}
.blogs-wrapper #sidebar #searchform input#searchsubmit{text-indent:0;line-height:36px;height:36px;border-left:1px solid #CCC;}
.blogs-wrapper #sidebar #searchform input#searchsubmit:hover{background:none;background-color:#1f2124;color:#FFF;}
@media screen and (min-width:769px){.blog-posts{width:63%;display:inline-block;padding-right:30px;}
.blogs-wrapper{width:30%;padding:30px 20px;display:inline-block;vertical-align:top;float:right;}
}
.entry-title{margin:0 60px 0 0;}
.full-entry-title{margin:0 0 0 0;}
.entry-title a{color:#2b2b2b;font-size:24px;text-decoration:none;}
.entry-title a:hover{color:#787878;}
.entry-meta{display:none;}
.meta-comments a{font-weight:bold;background:url(images/bubble.png) no-repeat 0 -8px;display:inline-block;width:48px;height:36px;padding:4px 0 0 0;text-align:center;margin:0 0 10px;position:absolute;top:0;right:0;font-size:14px;}
.more-link{font-weight:bold;display:block;padding:20px 0 0;text-decoration:underline;font-size:14px;}
.meta-edit{margin:0 0 0 5px;}
.meta-edit a{color:#999;padding:0 2px;}
.meta-edit a:hover{color:#000;}
.entry-tags{background:url(images/tag.gif) no-repeat 0 4px;padding:0 0 0 36px;}
.entry-excerpt{}
.entry p,.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6, .entry ul, .entry ol{margin:10px 0 10px 0;}
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6{color:#0A0A0A;}
.entry ul,.entry ol{margin:16px 0 16px 30px;}
.entry ol{list-style-type:decimal;}
.entry ul{list-style-type:circle;}
.entry ul ul, .entry ul ol, .entry ol ol, .entry ol ul{margin:0 0 0 20px;}
.entry hr{border-top:1px solid #FFF;border-top:1px solid #DDD;background:none;height:0;margin:0 0 20px 0;padding:0;clear:both;}
.entry hr.none{border:0 none;height:0;background:none;margin:0;padding:0;clear:both;}
.entry a{}
//text-decoration:underline;.entry a:hover{text-decoration:none;}
.entry blockquote{margin:16px 20px;padding:0 30px 0 20px;overflow:hidden;border-left:5px solid #DDD;color:#666;}
.entry img{max-width:100%;height:100%;}//border:1px solid #DDD;background:#FFF;padding:10px;.alignleft{float:left;margin:0 10px 4px 0;display:inline-block;}
.alignright{float:right;margin:0 0 10px 4px;display:inline-block;}
.aligncenter{display:block;text-align:center;display:inline-block;}
.gallery img{border:1px solid #DDD !important;}
.entry .read-more{color:#f29e21;}
.entry img.size-full{max-width:100%;height:100%;display:block;margin:auto;}
#comments{border-top:1px solid #DDD;padding-top:10px;}
#comments-title{margin:0 0 10px 0;}
.commentlist{border-bottom:1px solid #D7D7D7;}
.comment-inner{border-top:1px solid #D7D7D7;padding:15px;min-height:80px;height:auto !important;height:60px;}
.thread-even{background:#E7E7E7;}
.comment-avatar{float:left;width:60px;}
.comment-avatar img{background:#FFF;padding:3px;display:block;border:1px solid #CCC;float:left;border-bottom:0;}
.comment-meta,.comment-body{margin:0 0 0 70px;}
.comment-meta a{color:#999;}
.comment-meta .fn{font-style:normal;font-weight:bold;}
.comment-meta .fn a{color:#000;}
.comment-reply-link{background:#FFF url(images/white-grad.png) repeat-x 0 bottom;padding:3px 10px;text-transform:uppercase;font-weight:bold;display:inline-block;border:1px solid #CCC;font-size:11px;}
.comment-reply-link:hover{border-color:#999;color:#000;text-decoration:none;}
.comment .comment .comment-inner{margin-left:80px;margin-right:15px;padding:15px 0;}
#respond{max-width:720px;margin:20px auto;padding-bottom:20px;}
.comment #respond{margin-left:160px;}
#commentform label{width:100%;float:left;text-transform:uppercase;letter-spacing:2px;font-weight:600;line-height:24px;}
//#commentform input, #commentform textarea{margin:0 5px 10px 0;padding:2px 3px;border:1px solid #DDD;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#commentform textarea, #commentform input[type="text"]{width:100%;overflow:auto;background-color:#E6E6E6;border:0;padding:8px 16px;box-sizing:border-box;margin-bottom:20px;border-bottom:2px solid #c8cacf;}
#commentform input[type="text"]{height:48px;}
#commentform #submit{margin:0;}
.comment-notes,.logged-in-as{color:#999;margin:10px 0;}
.required{color:#000;font-size:14px;font-weight:bold;}
//.form-submit input#submit{margin:0 0 0 80px;width:160px;background:#FFF url(images/white-grad.png) repeat-x 0 bottom;font-weight:bold;text-transform:uppercase;font-size:12px;padding:5px 0;color:#666;cursor:pointer;}
//.form-submit input#submit:hover{border:1px solid #999;color:#000;}
.section-title{padding:0 0 5px 0;}
#home-services{overflow:hidden;margin:20px auto;width:100%;color:#DDD;}
.swidget{width:300px;float:left;margin:0 30px 0 0;}
#swidget-3{margin:0;}
.swidget h3{color:#FFF;font-weight:normal;line-height:32px;border-bottom:1px solid;padding:0 0 5px;}
.swidget h3 img{vertical-align:middle;margin:0 10px 0 0;}
.swidget-inner{border-top:1px solid;padding:5px 0 0;}
.swidget p{margin:0 0 10px;}
.swidget .more a{font-weight:bold;color:#666;background:url(images/service-more-button.png) no-repeat 0 0;display:inline-block;width:121px;height:26px;line-height:26px;font-size:11px;text-align:center;}
.swidget .more a:hover{text-decoration:none;color:#000;background:url(images/service-more-button.png) no-repeat 0 bottom;}
#home-about{clear:both;padding:40px 0;}
#home-about .section-title{border-bottom:1px solid #DDD;}
.home-about-entry{width:100%;overflow:hidden;border-top:1px solid #FFF;padding:20px 0 0;}
.home-about-entry p{margin:0 0 15px;font-size:16px;text-align:center;}
#home-about .more a{background:url(images/arrow_more.png) no-repeat 0 0;padding:0 0 0 20px;font-weight:bold;}
//.video-block{width:560px;height:315px;clear:both;margin:auto;position:relative;overflow:hidden;}
.video-wrapper{max-width:560px;max-height:349px;margin:auto;}
.video-block{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;}
.video-block iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
#home-quote{margin:0 0 30px;}
#home-quote .more{float:right;font-size:12px;font-weight:bold;margin:4px 0 0;}
#home-quote p{padding:0 0 10px;}
#home-quote-top{}
#home-quote-content{padding:15px 30px 10px 35px;background:#F7F7F7;border-left:1px solid #FFF;border-right:1px solid #B4B4B4;font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;}
#home-quote-bottom{padding:10px 10px 0 90px;}
.home-quote-author{font-weight:bold;font-size:12px;}
.home-quote-opp{color:#999;font-weight:normal;}
#home-news ul{border-bottom:1px solid #FFF;border-top:1px solid #DDD;}
#home-news a{}
#home-news li{background:url(images/icon_post.png) no-repeat 0 10px;padding:10px 0 10px 26px;border-top:1px solid #FFF;border-bottom:1px solid #DDD;}
#home-news .meta{display:none;}
#home-news .meta a{display:none;}
#home-news .meta a:hover{text-decoration:none;}
#home-news h4{font-size:12px;}
#home-news .more{padding:10px 0;margin:0 0 0 26px;text-transform:uppercase;font-size:11px;font-weight:bold;}
#home-news .more a{color:#999;}
#home-news .more a:hover{color:#000;}
h1.page-title{margin:0 0 20px 0;}
.onecol{width:100%;overflow:hidden;}
.contact-left{width:100%;}
.contact-right{width:100%;}
.contact-section-title{padding:0 0 5px 0;}
//.contact-section-inner{border-top:1px solid #FFF;padding:10px 0 0 0;}
.contact-info,.contact-social{}
.contact-info{padding:20px 0 0;margin:0 0 30px;}
.contact-info dt{color:#000;}
.contact-info-after{margin:30px 0;}
.contact-social{width:100%;margin:30px 0;display:inline-block;}
.contact-social .social-list li{padding:0;}
.contact-form{max-width:720px;margin:auto;color:#4e535b;padding:0 20px;box-sizing:border-box;}
.contact-form-before{margin:0 0 20px;color:#999;}
.contact-form-before p{margin:0 0 10px;}
.contact-social .social-list{width:auto;float:left;}
#tj-contact-form{margin:20px 0;width:100%;overflow:hidden;color:#4e535b;}
#tj-contact-form label{display:block;letter-spacing:0.15px;text-transform:uppercase;color:#4e535b;font-weight:600;}
#tj-contact-form input[type="text"],#tj-contact-form textarea{width:100%;padding:8px 16px;background-color:#e3e4e7;border-top:0;border-right:0;border-bottom:2px solid #c8cacf;border-left:0;height:48px;box-sizing:border-box;}
#tj-contact-form textarea{width:100%;height:250px;overflow:auto;}
#tj-contact-form input#contact-form-submit{float:right;font-weight:bold;text-transform:uppercase;}
//#tj-contact-form input#contact-form-submit:hover{border:1px solid #999;color:#000;}
#tj-contact-form .contact-form-col{margin-bottom:16px;}
#tj-contact-form .contact-form-col.full{width:100%;}
#download_form{max-width:500px;margin:auto;color:#4e535b;padding:0 20px;box-sizing:border-box;clear:both;}
#download_form h3{padding-bottom:10px;color:#4e535b;text-align:left;}
#download_form .form-row{padding:10px 0;clear:both;}
#download_form .form-lbl{width:100%;display:block;letter-spacing:0.15px;text-transform:uppercase;color:#4e535b;font-weight:600;margin-right:16px;}
#download_form .form-text{width:100%;padding:8px 16px;display:block;background-color:#e3e4e7;border-top:0;border-right:0;border-bottom:2px solid #c8cacf;border-left:0;height:48px;box-sizing:border-box;}
.contact-address-wrapper{width:100%;display:inline-block;padding:20px 0;box-sizing:border-box;}
.contact-hustn, .contact-hyd{background-color:#f29e21;color:#1f2124;}
.contact-suprt{background-color:#2f3238;color:#ffffff;}
.address-block{padding:32px;box-sizing:border-box;text-align:center;}
.address-block a{color:#fff;}
.address-block a:hover{color:#f29e21;text-decoration:none;}
@media screen and (min-width:740px) and (max-width:979px){#tj-contact-form .contact-form-col{width:48%;float:left;display:block;margin-right:2%;}
#tj-contact-form .contact-form-col.no-margin{width:50%;margin-right:0;}
#download_form .form-lbl{width:18%;display:inline-block;text-align:right;}
#download_form .form-text{width:75%;display:inline-block;}
#donwload-form-submit{margin-left:22%;}
}
@media screen and (min-width:980px){.contact-hustn, .contact-hyd, .contact-suprt{width:32%;float:left;display:block;margin-right:2%;}
.contact-hyd{margin-right:0;}
.address-block{min-height:250px;}
}
.error,
.notice,
.success{padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error{background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice{background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success{background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a{color:#8a1f11;}
.notice a{color:#514721;}
.success a{color:#264409;}
@media screen and (max-width:959px){#home-services .swidget{width:30%;margin-bottom:25px;}
#home-services .swidget-inner{min-height:130px;}
#content,#sidebar{width:100%;}
//.fpost{width:46%;margin-right:0px;padding:0px 2%;}
//.fpost .thumb{width:100%;}
.footer-rights-row{text-align:center;}
//#footbar > div:nth-child(2){width:100%;}
//#footbar > div:nth-child(3){width:100%;display:block;clear:both;overflow:hidden;}
//#fwidget-area-4{display:block;clear:both;overflow:hidden;float:none;width:232px;}
#content, #sidebar{float:none;margin:0px auto;}
.contact-right{width:100%;}
#tj-contact-form input#contact-form-submit{display:block;}
.figure-col, .text-col{max-width:100%;}
}
@media screen and (max-width:850px){#topnav li a{font-size:11px;padding-left:7px;padding-right:7px;}
#promo .light-bg{padding:250px 0 0 0;}
}
@media screen and (max-width:782px){#promo .light-bg{padding:250px 0 0 0;}
}
@media screen and (max-width:767px){#header{height:90px;}
#topnav{float:left;width:100%;}
#topnav li a{line-height:41px;padding-left:6px;padding-right:6px;}
#topnav li.current_page_item a, #topnav li.current_page_parent a, #topnav li.current_page_ancestor a, #topnav li.current-menu-item a, #topnav li.current-menu-parent a, #topnav li.current-menu-ancestor a #topnav li.current-category-parent a, #topnav li.current-category-ancestor a{background:rgba(0, 0, 0, 0) url("images/topnav_current.png") no-repeat scroll center 42px;}
//.fpost{width:96%;margin-right:0px;padding:0px 2%;}
#home-services .swidget{width:100%;}
#home-services .swidget-inner{min-height:10px;}
//#fwidget-area-4{float:left;width:100%;}
#fwidget-area-3 .fwidget{margin-bottom:0px;}
#home-quote-bottom{padding-left:20px;}
.entry-title a,h1{font-size:18px;line-height:24px;}
.entry-content h2, .entry-content h3,.entry-content p{padding:0 16px;}
}
@media screen and (max-width:600px){#header{height:115px;}
#topnav li{width:25%;}
#topnav li a{height:18px;}
#topnav ul ul{top:28px;}
#promo .light-bg{padding:250px 0 0 0;}
.entry-content h2, .entry-content h3,.entry-content p{padding:0 16px;}
}
@media screen and (max-width:550px){#home-quote-content{padding-left:15px;padding-right:15px;}
.entry p a img{width:100%;}
.contact-right{max-width:480px;width:100%;}
.contact-form{padding:10px;}
.entry-content h2, .entry-content h3,.entry-content p{padding:0 16px;}
}
.topnav_btns{float:right;margin:0 0 0 20px;}
#promo .light-bg{padding-left:0;left:0;text-align:center;}
@media screen and (max-width:479px){#header{height:140px;}
#topnav li{width:33%;}
#topnav ul ul{width:115px !important;}
.tagline h2{font-size:24px;}
.tagline p{font-size:15px !important;}
#home-services .swidget{padding:0px 3%;width:94%;}
#content, #sidebar{width:96%;}
//.fpost .thumb img{width:268px;height:140px;}
//.inner{padding:0px 2%;width:96%;}
#tj-contact-form textarea{width:97%;}
#tj-contact-form input#contact-form-submit{margin-left:0px;}
.topnav_btns{float:none;margin:auto;clear:both;text-align:center;padding:10px 0;}
#promo .light-bg{padding:250px 0 0 0;}
.entry-content h2, .entry-content h3,.entry-content p{padding:0 16px;}
#breadcrumb, #respond, #comments-title, .tagline p, .conactus-form{padding:0 16px;}
.entry-title{margin:0;padding:0 16px;}
.contact-social .social-list{float:none;text-align:center;}
}
#header{background:none;position:relative;height:auto;}
#header .inner{position:absolute;max-width:100%;width:100%;padding:10px;box-sizing:border-box;top:0;left:0;}
#promo{background:#191a1d;background:-webkit-linear-gradient(to left, #191a1d , #4e535b);background:linear-gradient(to top, #191a1d , #4e535b);color:#FFF;}
#topnav li a{color:#FFF;height:auto;line-height:32px;}
#topnav li.current_page_item > a{background:none !important;border-bottom:2px solid #f29e21;color:#f29e21 !important;}
.button{width:auto;padding:4px 20px;background-color:#f29e21;color:#fff;display:inline-block;font-size:14px;font-weight:bold;border:1px solid #de8603;cursor:pointer;-webkit-font-smoothing:antialiased;letter-spacing:0.15px;text-decoration:none;text-transform:uppercase;}
.demo_btn{margin-right:5px;}
.button:hover{border:1px solid #de8603;color:#363636;text-decoration:none;}
.button.gray{background:#53565c;color:#ffffff;border:1px solid #53565c;box-shadow:inset 0 0 0 0 #404247;}
.button.gray:hover{border:1px solid #404247;box-shadow:inset 0 -100px 0 0 #404247;}
.main-image{width:64px;height:64px;background-image:url(images/assets/tagline_images/homepage.png);background-repeat:no-repeat;background-position:center;display:block;margin:0 auto 10px auto;}
.tagline h1{font-size:51px;line-height:60px;letter-spacing:0.5px;}
.tagline p{font-size:18px;line-height:24px;letter-spacing:0.5px;padding-top:10px;padding-bottom:10px;}
.page-id-963 .main-image{width:105px;height:52px;background-image:url(images/assets/tagline_images/why-akeneo.png);}
.page-id-973 .main-image{background-image:url(images/assets/tagline_images/pricing.png);}
.page-id-965 .main-image{background-image:url(images/assets/tagline_images/magento-sync.png);}
.page-id-956 .main-image{background-image:url(images/assets/tagline_images/akeneo-pim.png);}
.page-id-1100 .main-image{background-image:url(images/assets/tagline_images/why-striketru.png);}
.page-id-652 .main-image{background-image:url(images/assets/tagline_images/newsroom.png);}
.page-id-88 .main-image{background-image:url(images/assets/tagline_images/work.png);}
.page-id-23 .main-image{background-image:url(images/assets/tagline_images/Services.png);}
.page-id-50 .main-image{background-image:url(images/assets/tagline_images/about-us.png);}
.page-id-1106 .main-image{background-image:url(images/assets/tagline_images/akeneo-connectors.png);}
.page-id-1103 .main-image{background-image:url(images/assets/tagline_images/striketru-extensions.png);}
.page-id-1355 .main-image{background-image:url(images/assets/tagline_images/downloads.png);}
.page-id-1384 .main-image{background-image:url(images/assets/tagline_images/downloads.png);}
.page-id-68 .main-image{background-image:url(images/assets/tagline_images/contact-us.png);}
.page-id-65 .main-image{background-image:url(images/assets/tagline_images/blog.png);}
.page-id-1193 .main-image{background-image:url(images/assets/tagline_images/free-consultation.png);}
.page-id-1277 .main-image{background-image:url(images/assets/tagline_images/print-publishing.png);}
.page-id-1188 .main-image{background-image:url(images/assets/tagline_images/trial.png);}
.patner-logos-row{width:100%;padding:20px 10px;background:#f7f7f7;background:-webkit-linear-gradient(to bottom, #eaeaea, #f7f7f7);background:linear-gradient(to bottom, #eaeaea, #f7f7f7);color:#979aa1;box-sizing:border-box;display:inline-block;box-shadow:0px 0px 6px #1f2124;}//.partners-wrapper{text-align:center;}
.partners-hdr{padding-bottom:15px;text-align:center;}
.partners-hdr h4{font-size:16px;text-transform:uppercase;letter-spacing:0.15px;color:#1f2124;font-weight:600px;}
.partners-hdr span{color:#848891;}
.partner-blocks-wrap{text-align:center;}
.partner-block{width:90%;height:150px;position:relative;border:1px solid #A9A9A9;float:none;margin:0 auto 25px auto;}
.partner-block img{max-width:70%;max-height:70%;width:auto;height:auto;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
#main #content{width:100%;}
#home-about .section-title{text-align:center;border-bottom:none;font-size:32px;font-weight:600;color:#979aa1}
#home-about .section-subtitle{font-size:26px;font-weight:600;text-align:center;}
.figure-col img{max-width:100%;height:auto;margin:0;}
.feat-container{max-width:95%;margin:0 auto;}
.feat-container .title{font-size:18px;color:#979aa1;font-weight:600;letter-spacing:0.15px;line-height:20px;text-align:center;}
.feat-container .link-title{font-size:30px;color:#1f2124;letter-spacing:0.15px;text-align:center;}
.feat-container .feat-desc{font-size:16px;margin-bottom:15px;}
.figure-text-block, .text-figure-block{padding:25px 0;}
.learn_more{clear:both;margin:10px 0;background-color:transparent;color:#53565c;border:1px solid #c8cbd0;letter-spacing:0.5px;padding:15px 25px;}
.learn_more:hover{background-color:#c8cbd0;border:1px solid #c8cbd0;color:#53565c;}
#product-features{width:100%;background-color:#1f2124;color:#979aa1;display:inline-block;padding:30px 0;box-sizing:border-box;}
#product-features .pfeat-item{width:100%;padding:16px;box-sizing:border-box;float:left;overflow:hidden;text-align:center;min-height:200px;}
#product-features .pfeat-item .pfeat-details{width:100%;}
#product-features .pfeat-item .title{font-size:16px;font-weight:600;color:#FFF;text-transform:uppercase;}
#product-features .pfeat-item .pfeat-desc{color:#979aa1;font-size:14px;}
#testimonials-wrap{width:100%;clear:both;padding:20px 0;text-align:center;}
#testimonials-wrap .inner-content, #testimonials-wrap .testimonials-inner{position:relative;padding:0 16px;}
#testimonials-wrap h3{padding:10px 0;text-align:center;border-bottom:none;font-size:32px;font-weight:600;color:#979aa1;text-transform:uppercase;}
.testimonal{width:345px;height:auto;padding:20px;box-sizing:border-box;display:inline-block;margin:0 10px 10px 0;vertical-align:top;background-color:#c8cbd0;color:#141517;cursor:pointer;text-align:left;font-size:16px;}
.testimonal:hover{opacity:0.9;text-decoration:none;}
//#testimonal-5{margin-top:-144px;}
//#testimonal-6{margin-top:-72px;}
//#testimonal-7{float:right;margin-top:-144px;}
//#testimonials-wrap .testimonials-inner{height:700px;}
//.testimonials-inner #testimonal-1{top:0;left:0;}
//.testimonials-inner #testimonal-2{top:0;left:400;}
//.testimonials-inner #testimonal-3{top:0;right:0;}
//.testimonials-inner #testimonal-4{position:absolute;left:0;top:437px;}
//.testimonials-inner #testimonal-5{position:absolute;top:293px;left:370px;}
//.testimonials-inner #testimonal-6{position:absolute;right:0;top:366px;}
//.testimonials-inner #testimonal-7{position:absolute;right:0;top:563px;}
//.more-testimonals{padding:10px 0;text-align:center;clear:both;}
//#testimonials-wrap .last-item, #caseStudies-wrap .last-item{margin-right:0;}
#featured_work_wrapper{width:100%;display:inline-block;padding:20px;text-align:center;box-sizing:border-box;}
#featured_work_wrapper h3.section-title{padding:10px 0;text-align:center;font-size:32px;font-weight:600;color:#979aa1;text-transform:uppercase;}
#featured_work_wrapper .fwpost{margin:0 0 40px 0;}
.fwpost .thumb-row img{width:288px;height:160px;}
#featured_work_wrapper .fwpost .thumb-row img{width:352px;height:198px;max-width:100%;}
.fwpost .thumb-row{padding-bottom:10px;text-align:center;}
.fwpost .text-row{padding:0 15px;text-align:center;}
.fwpost .text-row .title a{color:#1f2124;font-size:16px;font-weight:600;}
//.fwpost .text-row .title a:hover{text-decoration:none;}
//.dvCase{width:240px;min-height:125px;padding:20px;box-sizing:border-box;float:left;background-color:#EEE;color:#979aa1;margin:0 10px 10px 0;text-align:center;}
//.read_case{clear:both;margin:10px 0;}
//.more-cases{padding:10px 0;text-align:center;clear:both;}
#single_template{width:100%;padding:20px 0;text-align:center;}
.temp-img-wrap{padding:20px 0;}
.temp-items-wrap{padding:20px 0;}
#single_template .dvItem{width:245px;height:235px;padding:10px;box-sizing:border-box;display:inline-block;overflow:hidden;}
.akeneo-diff, .pimgento-feats, .publising-feats{padding:20px 0;background-color:#e1e3e4;}
.home-partners{padding:10px 0;background-color:#e1e3e4;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea}
.home-resources{padding:10px 0;background-color:#e1e3e4;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea}
.brand-temp-wrapper{width:100%;display:inline-block;}
.top-block{text-align:center;}
.top-block h2{font-size:30px;font-weight:600;color:#1f2124;letter-spacing:0.15px;}
.top-block p{color:#4e535b;font-weight::400;}
.highlights-block{padding:20px;box-sizing:border-box;display:inline-block;}
.highlights-block .grid-item{text-align:center;padding:10px 0;}
.akeneo-diff .highlights-block .grid-item, .pimgento-feats .highlights-block .grid-item, .publising-feats .highlights-block .grid-item{border-color:transparent;background-color:#F4F4F4;margin-bottom:10px;}
.home-partners .highlights-block .grid-item{border-color:transparent;background-color:#e1e3e4;margin-bottom:10px;text-align:left;}
.home-resources .highlights-block .grid-item{border-color:transparent;background-color:#e1e3e4;margin-bottom:10px;text-align:left;}
.highlights-block .feature-img{clear:both;}
.feat-details h3{color:#1f2124;font-weight:600;text-transform:uppercase;font-size::16px;}
.feat-details p{color:#4e535b;font-weight:400;}
.partner-details h3{color:#1f2124;font-weight:600;font-size::16px;}
.partner-details p{color:#4e535b;font-weight:400;}
.descrip-block{text-align:left;}
.descrip-block h2, .descrip-block h3, .descrip-block p{max-width:70%;margin:auto;margin-bottom:25px;}
.descrip-block h2, .descrip-block h3{color:#1f2124;font-weight:600;font-size:30px;line-height:36px;}
.descrip-block p{color:#4e535b;font-weight:400;}
.about-image{width:100%;min-height:100%;padding:20px 10px;box-sizing:border-box;position:relative;}
.about-image .ake-img{max-width:100%;height:auto;}
.about-image .silver-partner{max-width:100%;position:absolute;top:43px;right:0;}
ul.data-list{clear:both;margin:0;list-style-type:none;}
.data-list .data-block{color:#1f2124;font-weight:600;letter-spacing:0.15px;text-align:center;text-transform:uppercase;padding:30px 0;}
.data-list .data-block .data-block-num{display:block;color:#848891;font-size:30px;line-height:36px;margin-bottom:10px;font-style:italic;font-weight:400px;}
.data-list .data-block .data-block-desc{display:block;font-size:16px;}
.trial-block{width:100%;padding:50px 36px;background-color:#f7f7f7;text-align:center;box-sizing:border-box;display:inline-block;}
.trial-block .tagline{color:#4e535b;text-shadow:none;padding:0;font-size:32px;line-height:36px;margin-bottom:10px;}
.brand-temp-wrapper .patner-logos-row{margin:30px 0 0 0;background-color:#f7f7f7;color:#4e535b;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea}
.brand-temp-wrapper .patner-logos-row .partners-hdr h4{color:#1f2124;}
.brand-temp-wrapper .patner-logos-row .partners-hdr span{color:#848891}
.folio .fpost .thumb{width:100%;display:block;box-sizing:border-box;margin:0;}
.folio .fpost .text-col{width:100;display:block;vertical-align:top;}
.print-key-feats .feat-details ul li{text-align:left;}
#home-pricing-wrapper{width:100%;background:-webkit-linear-gradient(to left, #191a1d , #4e535b);background:linear-gradient(to top, #191a1d , #4e535b);color:#979aa1;padding:20px 0;box-sizing:border-box;}
.entry-content #home-pricing-wrapper{background:none;}
.pricing-table-wrap{position:relative;width:100%;display:inline-block;}
.title-wrap{max-width:70%;margin:0 auto;margin-bottom:48px;text-align:center;}
.title-wrap h2{font-size:36px;color:#FFF;}
.title-wrap p{color:#979aa1;font-size:18px;}
.pricing-hdr-block{background-color:#c8cbd0;position:relative;overflow:hidden;padding:10px;border-right:1px solid #d5d7db;color:#141517;text-align:center;}
.popular .pricing-hdr-block{background-color:#e3e4e7}
.discount-ribbon{position:absolute;width:180px;background:#f29e21;top:10px;left:-64px;text-align:center;line-height:34px;text-transform:uppercase;color:#141517;font-size:14px;z-index:10;font-weight:600;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
h3.tbl-header{color:#141517;font-size:24px;text-transform:uppercase;margin:35px 0 0 0;letter-spacing:0.15px;font-weight:400;}
.popular .tbl-header{padding-top:9px;}
.pricebox-pretitle{font-size:14px;font-weight:400;}
.amount{font-size:45px;color:#141517;font-weight:600;text-transform:uppercase;letter-spacing:0;line-height:30px;}
.currency{font-size:26px;font-weight:600;text-transform:uppercase;letter-spacing:0.08px;}
.per-duration{font-size:20px;font-weight:600;text-transform:uppercase;}
.add-on{font-size:36px;font-weight:600;line-height:30px;}
.add-on sup{font-size:14px;font-weight:400;}
.striketru-price{color:#848891;text-decoration:line-through;letter-spacing:0;font-weight:600;}
.lmtd-offer{padding-top:10px;color:#141517;font-size:14px;font-weight:400;}
.pricing-cell-container{display:block;border-right:1px solid #e7e7ea;}
ul.pricing-cell-list{text-align:center;margin:0;}
.pricing-cell-list li{padding:16px 9px;border-bottom:1px solid #e7e7ea;background-color:#f7f7f7;list-style-type:none;}
.popular .pricing-cell-list li{background-color:#FFF;}
.pricing-cell-inner li{border-bottom:none;padding:5px 0 0 0;}
.included-items-list-inner li{border-bottom:none;padding:5px 0 0 0;font-size:14px;list-style-type:none;}
.included-items-list-inner p{margin-top:-3px;display:inline;}
.included-items-list-inner .divider{width:25%;border-bottom:1px dotted #CCC;margin:5px 0 5px 21px;}
.cross-icon{width:16px;height:16px;background:url(/wp-content/themes/cubelight/images/red_cross.png) no-repeat;display:inline-block;float:none;margin-right:3px;}
.checkmark-icon{width:16px;height:16px;background:url(/wp-content/themes/cubelight/images/checkmark.png) no-repeat;display:inline-block;float:none;margin-right:3px;}
.footnotes-section{padding:10px;}
.foot-note{width:100%;display:inline-block;font-size:11px;font-weight:400;color:#979aa1;line-height:12px;}
.pricing-page .title-wrap h2{color:#141517;}
.pricing-page .pricing-hdr-block{background-color:#191a1d;}
.pricing-page .tbl-header, .pricing-page .price-container, .pricing-page .amount, .pricing-page .pricebox-pretitle{color:#FFF;}
.pricing-page .lmtd-offer{color:#848891;margin:0;}
.pricing-page p, .pricing-page ul, .pricing-page ul ul{margin:0;}
.plans-radio-switcher{max-width:500px;margin:0 auto;padding:10px 0;text-align:center;color:#1f2124;}
.radio-switch{text-align:left;display:inline-block;position:relative;padding:0 10px;}
.plans-radio-switcher input[type='radio']{opacity:0;width:0px;}
.plans-radio-switcher input[type='radio']+label .radiobutton{position:relative;background-color:transparent;display:inline-block;vertical-align:middle;width:32px;height:32px;border-radius:50%;border:2px solid #979aa1;}
.plans-radio-switcher input[type='radio']+label .radiobutton:before{content:" ";position:absolute;background-color:transparent;top:4px;left:4px;right:4px;bottom:4px;border:4px solid transparent;border-radius:50%;}
.plans-radio-switcher input[type='radio']:checked+label .radiobutton{background-color:transparent;border-color:#f29e21;}
.plans-radio-switcher input[type='radio']:checked+label .radiobutton:before{background-color:#f29e21;border-color:transparent;}
.radiobutton-text{text-transform:uppercase;margin-left:0.5em;}
.accordion-wrap{display:block;padding:20px 0;}
.accordion-row{margin-bottom:10px;}
.accordian-hdr{color:#141517;padding-bottom:10px;clear:both;}
div.accordion{background-color:#53565c;cursor:pointer;padding:16px;width:100%;text-align:left;border:none;outline:none;transition:0.4s;display:inline-block;box-sizing:border-box;}
.accordion.active, .accordion:hover{background-color:#363636;}
.accordion-hdr{color:#FFF;}
div.panel{padding:10px;background-color:white;display:none;color:#4e535b;}
div.panel.show{display:block;}
.expand-icon{width:20px;height:20px;background:url(images/plus_icon.png) no-repeat;display:inline-block;float:right;}
.collapse-icon{width:20px;height:20px;background:url(images/minus_icon.png) no-repeat;display:inline-block;float:right}
@media screen and (min-width:930px){.pricing-col{width:20%;display:inline-block;position:relative;float:left;}
.pricing-hdr-block{height:200px;margin-top:0;text-align:center;}
.popular{margin-top:-30px;}
.popular .pricing-hdr-block{height:230px;}
.included-items-list-inner p, .included-items-list-inner li, .pricing-cell-inner li{text-align:left;display:block;}
.included-items-list-inner p{padding-left:21px;}
.offers-list li p{padding-left:21px;}
ul.pricing-cell-list{text-align:left;}
.block-one span{padding-left:21px;}
.foot-note{width:40%;}
.cross-icon, .checkmark-icon{float:left;}
}
@media screen and (min-width:740px) and (max-width:979px){.partner-blocks-wrap .partner-block{width:17%;height:115px;display:inline-block;margin:0 20px 25px 0;}
.partner-blocks-wrap .partner-block:nth-child(5n){margin-right:0;}
.partner-block img{height:auto;}
.figure-text-block, .text-figure-block{display:inline-block;}
.text-figure-block .figure-col{float:right;}
.figure-text-block .figure-col, .text-figure-block .text-col{padding-right:40px;}
.figure-col{width:46%;display:inline-block;box-sizing:border-box;margin:0;}
.text-col{width:48%;display:inline-block;vertical-align:top;}
.highlights-block{padding:20px 0;}
.highlights-block .grid-item{width:48%;float:left;padding:10px;margin:0 10px 10px 0;box-sizing:border-box;}
.highlights-block .grid-item:nth-child(2n), .data-list .data-block:nth-child(2n){margin-right:0;}
.about-image{padding:20px 0;}
.data-list .data-block{width:48%;margin:0 20px 20px 0;float:left;}
#product-features .pfeat-item{width:50%;}
.feat-container .title, .feat-container .link-title{text-align:left;}
#featured_work_wrapper{text-align:left;}
#featured_work_wrapper .fwpost{width:48%;float:left;margin:0 20px 20px 0;box-sizing:border-box;}
#featured_work_wrapper .fw-posts .fwpost:nth-child(2n){margin:0 0 20px 0;}
.fwpost .text-row{text-align:left;}
.akeneo-diff .highlights-block .grid-item{height:230px;}
.akeneo-feats .highlights-block .grid-item{height:200px;}
.download-items .highlights-block .grid-item{height:auto;}
.folio .fpost{text-align:left;}
.folio .fpost .thumb{width:48%;display:inline-block;padding-right:40px;}
.folio .fpost.last .thumb{padding-right:0;}
.folio .fpost .text-col{width:47%;display:inline-block;}
.fpost .thumb, .fpost .thumb a, .fpost .thumb img{display:inline-block;float:left;}
.foot-note{width:40%;}
#promo .light-bg{padding:140px 0 0 0;}
}
@media screen and (min-width:980px){#promo .light-bg{padding:140px 0 0 0;}
.partner-blocks-wrap .partner-block{width:17%;display:inline-block;margin:0 22px 25px 0;}
.partner-blocks-wrap .partner-block:nth-child(5n){margin-right:0;}
.partner-block img{height:auto;}
.figure-text-block, .text-figure-block{display:inline-block;}
.text-figure-block .figure-col{float:right;}
.figure-text-block .figure-col, .text-figure-block .text-col{padding-right:40px;}
.figure-col{width:48%;display:inline-block;box-sizing:border-box;margin:0;}
.text-col{width:47%;display:inline-block;vertical-align:top;}
.highlights-block{padding:20px 0;text-align:center;}
.highlights-block .grid-item{width:24%;float:left;padding:10px;margin:0 10px 10px 0;box-sizing:border-box;}
.highlights-block .grid-item:nth-child(4n), .data-list .data-block:nth-child(4n){margin-right:0;}
.about-image{padding:20px 0;}
.data-list .data-block{width:24%;margin:0 13px 20px 0;float:left;}
.trial-block .tagline{float:left;text-align:left;margin:0;}
.trial-block .get-start{float:right;}
.trial-block .get-start a{text-decoration:none;}
#product-features .pfeat-item{width:25%;}
.feat-container .title, .feat-container .link-title{text-align:left;}
#featured_work_wrapper{text-align:left;}
#featured_work_wrapper .fwpost{width:32%;float:left;margin:0 19px 20px 0;box-sizing:border-box;}
#featured_work_wrapper .fw-posts .fwpost.last{margin:0 0 20px 0;}
//.fwpost .text-row{text-align:left;}
.highlights-block .grid-item{height:350px;}
.akeneo-diff .highlights-block .grid-item{height:280px;}
.akeneo-feats .highlights-block .grid-item{height:240px;}
/* .download-items .highlights-block .grid-item{height:auto;} */
.pimgento-feats .highlights-block .grid-item{height:240px;}
.home-partners .highlights-block .grid-item{height:180px;}
.home-resources .highlights-block .grid-item{height:290px;}
.folio .fpost{text-align:left;}
.folio .fpost .thumb{width:48%;display:inline-block;padding-right:40px;}
.folio .fpost.last .thumb{padding-right:0;}
.folio .fpost .text-col{width:47%;display:inline-block;}
.fpost .thumb, .fpost .thumb a, .fpost .thumb img{display:inline-block;float:left;}
.highlights-block .centerItem{float:none;display:inline-block;vertical-align:top;}
}

#topnav li li {
    width: 180px;
    background: none !important;
    float: left;
    width: 50%;
}
#topnav ul ul {
    background: #fff;
    padding: 5px;
}
#topnav li li a {    
    color: #000 !important;
    font-size: 16px;
	margin-bottom: 10px;
}

#topnav li li a .menu-item-description,#topnav li li a:hover .menu-item-description{
	color: #ccc !important;
}
#topnav li li a:hover {
    color: #f29e21 !important;
    background: transparent !important;
}
#topnav ul ul {
    width: 370px;
	margin-top: -10px;
}
#topnav li li a {
    color: #000 !important;
    font-size: 14px;
    margin-bottom: 10px;
    min-height: 64px;
}
@media (max-width:1199px){
	#topnav ul ul {
    width: 180px !important;
}
	#topnav ul ul {
		width: 250px !important;}
	
}

