a,
#topnav li.current_page_item a,
#topnav li.current_page_parent a,
#topnav li.current_page_ancestor a,
#topnav li.current-menu-item a,
#topnav li.current-menu-parent a,
#topnav li.current-menu-ancestor a
#topnav li.current-category-parent a,
#topnav li.current-category-ancestor a{color:#008D8E;}
#promo{background:#006262 url(aqua/tbg.png) repeat-x;}
#image-logo a{background:url(aqua/logo.png) no-repeat;}
.swidget h3{border-color:#007070;}
.swidget-inner{border-color:#00A9AA;}