a,
#topnav li.current_page_item a,
#topnav li.current_page_parent a,
#topnav li.current_page_ancestor a,
#topnav li.current-menu-item a,
#topnav li.current-menu-parent a,
#topnav li.current-menu-ancestor a
#topnav li.current-category-parent a,
#topnav li.current-category-ancestor a{color:#26558D;}
// #promo{background:#092E59 url(blue/tbg.png) repeat-x;}
#image-logo a{background:url(blue/logo.png) no-repeat;}
.swidget h3{border-color:#07274C;}
.swidget-inner{border-color:#295281;}