a,
#topnav li.current_page_item a,
#topnav li.current_page_parent a,
#topnav li.current_page_ancestor a,
#topnav li.current-menu-item a,
#topnav li.current-menu-parent a,
#topnav li.current-menu-ancestor a
#topnav li.current-category-parent a,
#topnav li.current-category-ancestor a{color:#8D5E26;}
#promo{background:#593409 url(brown/tbg.png) repeat-x;}
#image-logo a{background:url(brown/logo.png) no-repeat;}
.swidget h3{border-color:#623B0E;}
.swidget-inner{border-color:#946835;}