a,
#topnav li.current_page_item a,
#topnav li.current_page_parent a,
#topnav li.current_page_ancestor a,
#topnav li.current-menu-item a,
#topnav li.current-menu-parent a,
#topnav li.current-menu-ancestor a
#topnav li.current-category-parent a,
#topnav li.current-category-ancestor a{color:#8B8A89;}
#promo{background:#454444 url(gray/tbg.png) repeat-x;}
#image-logo a{background:url(gray/logo.png) no-repeat;}
.swidget h3{border-color:#565554;}
.swidget-inner{border-color:#939291;}