a,
#topnav li.current_page_item a,
#topnav li.current_page_parent a,
#topnav li.current_page_ancestor a,
#topnav li.current-menu-item a,
#topnav li.current-menu-parent a,
#topnav li.current-menu-ancestor a
#topnav li.current-category-parent a,
#topnav li.current-category-ancestor a{color:#268D2D;}
#promo{background:#09590E url(green/tbg.png) repeat-x;}
#image-logo a{background:url(green/logo.png) no-repeat;}
.swidget h3{border-color:#0F6315;}
.swidget-inner{border-color:#319238;}