a,
#topnav li.current_page_item a,
#topnav li.current_page_parent a,
#topnav li.current_page_ancestor a,
#topnav li.current-menu-item a,
#topnav li.current-menu-parent a,
#topnav li.current-menu-ancestor a
#topnav li.current-category-parent a,
#topnav li.current-category-ancestor a{color:#E06D0F;}
#promo{background:#B04802 url(orange/tbg.png) repeat-x;}
#image-logo a{background:url(orange/logo.png) no-repeat;}
.swidget h3{border-color:#BD5206;}
.swidget-inner{border-color:#EE7813;}