a,
#topnav li.current_page_item a,
#topnav li.current_page_parent a,
#topnav li.current_page_ancestor a,
#topnav li.current-menu-item a,
#topnav li.current-menu-parent a,
#topnav li.current-menu-ancestor a
#topnav li.current-category-parent a,
#topnav li.current-category-ancestor a{color:#D5307F;}
#promo{background:#9F073D url(pink/tbg.png) repeat-x;}
#image-logo a{background:url(pink/logo.png) no-repeat;}
.swidget h3{border-color:#B01452;}
.swidget-inner{border-color:#EA429A;}