a,
#topnav li.current_page_item a,
#topnav li.current_page_parent a,
#topnav li.current_page_ancestor a,
#topnav li.current-menu-item a,
#topnav li.current-menu-parent a,
#topnav li.current-menu-ancestor a
#topnav li.current-category-parent a,
#topnav li.current-category-ancestor a{color:#882381;}
#promo{background:#590954 url(purple/tbg.png) repeat-x;}
#image-logo a{background:url(purple/logo.png) no-repeat;}
.swidget h3{border-color:#620F5D;}
.swidget-inner{border-color:#8A2483;}