a,
#topnav li.current_page_item a,
#topnav li.current_page_parent a,
#topnav li.current_page_ancestor a,
#topnav li.current-menu-item a,
#topnav li.current-menu-parent a,
#topnav li.current-menu-ancestor a
#topnav li.current-category-parent a,
#topnav li.current-category-ancestor a{color:#B20000;}
#promo{background:#620000 url(red/tbg.png) repeat-x;}
#image-logo a{background:url(red/logo.png) no-repeat;}
.swidget h3{border-color:#720000;}
.swidget-inner{border-color:#B10404;}